.auth-banner-logo {
  width: 600px;
  height: 600px;
  position: absolute;
  top: calc(50vh - 300px);
  left: -300px;
  z-index: 1000;
}

.auth-banner {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.auth-form {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  font-family: Manrope, sans-serif;
  background-color: #232c42;
  color: #ffffff;
}
