<table>
  <thead>
  <tr>
    <td>Virus Scanner</td>
    <td>Present</td>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let item of Object.keys(scanData)">
    <td>{{ item }}</td>
    <td>
      <ng-container *ngIf="!scanData?.[item]?.result" [ngTemplateOutlet]="success"/>
      <span *ngIf="scanData?.[item]?.result" class="is-present-label">{{ scanData?.[item]?.result }}</span>
    </td>
  </tr>
  </tbody>
</table>

<ng-template #success>
  <div class="is-present">
    <span class="is-present-label">Not found</span>
    <div class="is-present-icon">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 50 50" xml:space="preserve">
<circle style="fill:#25AE88;" cx="25" cy="25" r="25"/>
        <polyline
          style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
          points="
	38,15 22,33 12,25 "/>
</svg>
    </div>
  </div>
</ng-template>
