<form class="login-form" [formGroup]='loginFormGroup'>

  <h1 class="login-form-header">Login</h1>

  <mat-form-field class="login-form-input">
    <input matInput placeholder="login" formControlName="login">
  </mat-form-field>
  <mat-form-field class="login-form-input">
    <input matInput placeholder="password" formControlName="password">
  </mat-form-field>

  <button mat-flat-button color="primary" class="button" [disabled]="!loginFormGroup.valid" (click)="login()">login
  </button>
</form>
