
<table mat-table [dataSource]="scanData" class="mat-elevation-z8">
  <ng-container matColumnDef="virusName">
    <th mat-header-cell *matHeaderCellDef> virusName</th>
    <td mat-cell *matCellDef="let element"> {{element.virusName}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="present">
    <th mat-header-cell *matHeaderCellDef> present</th>
    <td mat-cell *matCellDef="let element">
      <ng-container [ngTemplateOutlet]="element?.present ? error : success"></ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>

<ng-template #error>
  <div class="icon">
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 50 50" xml:space="preserve">
<circle style="fill:#D75A4A;" cx="25" cy="25" r="25"/>
      <polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" points="16,34 25,25 34,16
	"/>
      <polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" points="16,16 25,25 34,34
	"/>
</svg>
  </div>
</ng-template>

<ng-template #success>
  <div class="icon">
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 50 50" xml:space="preserve">
<circle style="fill:#25AE88;" cx="25" cy="25" r="25"/>
      <polyline
        style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
        points="
	38,15 22,33 12,25 "/>
</svg>
  </div>
</ng-template>
