:host {
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-family: Manrope, sans-serif;
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.url-metrics {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.url-metrics-score-list {
  display: flex;
  align-items: center;
  padding: 20px;
  column-gap: 100px;
}

.url-metrics-score-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.url-metrics-score-value {
  border: 10px solid #15D015FF;
  color: #15D015FF;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Manrope, sans-serif;
  font-size: 28px;
  font-weight: 800;

  &.error {
    border-color: #D00D0DFF;
    color: #D00D0DFF;
  }
}

.url-metrics-buttons {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  column-gap: 25px;
}

.url-metrics-button{
  width: 50px;
  height: 50px;
}
