<form class="register-form" [formGroup]='registerFormGroup'>
  <h1 class="register-form-header">Sign Up</h1>

    <input class="input-text" placeholder="login" formControlName="login">
    <input class="input-text" placeholder="password" formControlName="password">
    <input class="input-text" placeholder="confirm-password" formControlName="confirmPassword">

  <div class="register-form-error-message" *ngIf="registerFormGroup.errors?.['PasswordNoMatch']">
    Passwords do not match
  </div>

  <button class="button" [disabled]="!registerFormGroup.valid" (click)="register()">sign up</button>

</form>
