<ng-container
  [ngTemplateOutlet]="nodeTemplate"
  [ngTemplateOutletContext]="{$implicit: root}"
/>

<svg #drawLayer class="draw-layer" width="1200" height="1200"></svg>

<ng-template #nodeTemplate let-node>
  <div class="tree-node">
    <span class="tree-node-label">{{ node.label }}</span>
    <div *ngIf="node.children" class="tree-node-children">
      <ng-container
        *ngFor="let childNode of node.children"
        [ngTemplateOutlet]="nodeTemplate"
        [ngTemplateOutletContext]="{$implicit: childNode}"
      ></ng-container>
    </div>
  </div>
</ng-template>
